- @content_class = "limit-container-width" unless fluid_layout
- page_itemtype    'https://schema.org/Organization'
- @skip_current_level_breadcrumb = true

- if show_thanks_for_purchase_banner?
  = render_if_exists 'shared/thanks_for_purchase_banner', plan_title: plan_title, quantity: params[:purchased_quantity].to_i

- if show_invite_banner?(@group)
  = content_for :group_invite_members_banner do
    .container-fluid.container-limited{ class: "gl-pb-2! gl-pt-6! #{@content_class}" }
      .js-group-invite-members-banner{ data: { svg_path: image_path('illustrations/merge_requests.svg'),
        is_dismissed_key: "invite_#{@group.id}_#{current_user.id}",
        track_label: 'invite_members_banner',
        invite_members_path: group_group_members_path(@group) } }

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, group_url(@group, rss_url_options), title: "#{@group.name} activity")

= content_for :invite_members_sidebar do
  - if can_invite_members_for_group?(@group)
    %li
      .js-invite-members-trigger{ data: { icon: 'plus', classes: 'gl-text-decoration-none! gl-shadow-none!', display_text: _('Invite team members') } }

= render partial: 'flash_messages'

= render_if_exists 'trials/banner', namespace: @group

= render 'groups/home_panel'

= render_if_exists 'groups/self_or_ancestor_marked_for_deletion_notice', group: @group

= render_if_exists 'groups/group_activity_analytics', group: @group

= render 'groups/invite_members_modal', group: @group

.groups-listing{ data: { endpoints: { default: group_children_path(@group, format: :json), shared: group_shared_projects_path(@group, format: :json) } } }
  .top-area.group-nav-container.justify-content-between
    .scrolling-tabs-container.inner-page-scroll-tabs
      .fade-left= sprite_icon('chevron-lg-left', size: 12)
      .fade-right= sprite_icon('chevron-lg-right', size: 12)
      %ul.nav-links.scrolling-tabs.mobile-separator.nav.nav-tabs
        %li.js-subgroups_and_projects-tab
          = link_to group_path, data: { target: 'div#subgroups_and_projects', action: 'subgroups_and_projects', toggle: 'tab'} do
            = _("Subgroups and projects")
        %li.js-shared-tab
          = link_to group_shared_path, data: { target: 'div#shared', action: 'shared', toggle: 'tab'} do
            = _("Shared projects")
        %li.js-archived-tab
          = link_to group_archived_path, data: { target: 'div#archived', action: 'archived', toggle: 'tab'} do
            = _("Archived projects")

    .nav-controls.d-block.d-md-flex
      .group-search
        = render "shared/groups/search_form"

      = render "shared/groups/dropdown", options_hash: subgroups_sort_options_hash

  .tab-content
    #subgroups_and_projects.tab-pane
      = render "subgroups_and_projects", group: @group

    #shared.tab-pane
      = render "shared_projects", group: @group

    #archived.tab-pane
      = render "archived_projects", group: @group
